<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head('로그인')}"></head>
<link rel="stylesheet" th:href="@{/css/login/login.css}">
<script type="text/javascript" th:src="@{/js/login/login.js}"></script>



<body>
	
	<div class="container">
		<div class="login-bx col-6 mx-auto">
			<form  method="POST">
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				
				<div class="form-floating">
					<input id="userId" type="text" name="userId" class="form-control" placeholder="아이디" />
						<label for="userId">아이디</label>
				</div>
				
				<div class="form-floating">
					<input id="password" type="password" name="userPw" class="form-control" placeholder="비밀번호" />
						<label for="password">비밀번호</label>
				</div>
				<div th:if="${param.error}">
					<p th:text="${param.exception}" class="alert alert-danger"></p>
				</div>
				<div class="row mx-auto">
					<div class="col mb-3 form-check">
						<input class="form-check-input" type="checkbox" id="remember-me" name="remember-me"  /> 
						<label class="form-check-label" for="remember-me">자동로그인</label>
					</div>
					<div class="col mb-3 form-check">
						<input class="form-check-input" type="checkbox" id="saveId" name="saveId"  /> 
						<label class="form-check-label" for="saveId">아이디 저장</label>
					</div>
				</div>
				
				<div class="col">
					<a href="#">비밀번호를 잊어버리셨나요?</a>
				</div>
				
				<div class="d-grid gap-2">
					<input class="btn btn-primary" type="submit" value="로그인">
				</div>
				<div class="text-center">
					<p> 아이디가 없습니까? <a href="#">회원가입</a> </p>
				</div>
				
			</form>
			
		</div>
	</div>
</body>
</html>