<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head('게시글 목록')}"></head>
<body>
	<header th:replace="~{layout/header :: header}"></header>
	
	<table>
		<thead>
			<tr>
				<th>제목</th>
				<th>내용</th>
				<th>작성자</th>
				<th>수정일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:if="${blist.empty}">
				<td colspan="2"> 등록된 게시물이 없습니다. </td>
			</tr>
			<tr th:if="${#lists.size(blist)} > 0" th:each="blist : ${blist}">
				<td th:text="${blist.title}"></td>
				<td th:text="${blist.content}"></td>
				<td th:text="${blist.writer}"></td>
				<td th:text="${#temporals.format(blist.updateDate , 'yyyy-MM-dd HH:mm:ss')}"></td>
			</tr>
		</tbody>
	</table>
	
	<footer th:replace="layout/footer :: footer"></footer>
</body>
</html>